/.idea/
/.gradle/
/build/

/mkdocs.yml
/allnav.yml
/doc/site/generated/
/doc/std/vodml-generated/
/site/

/src-gen/
/doc/presentations/ivoa_ns_2026/reveal.js*
/doc/presentations/ivoa_ns_2026/ExecutionDM-Presentation.html
/doc/presentations/ivoa_ns_2026/ExecutionDM-Presentation.pdf
